<footer>
  <div class="bg-primary w-full h-96 flex items-center">
    <div class="flex flex-col lg:flex-row justify-start items-center w-full px-10">
      <div>
        <img src="../../static/assets/logo.png" alt="" class="w-56">
      </div>

      <div class="grid grid-cols-1 lg:grid-cols-3 gap-20 lg:ml-20">
       <div class="w-32">
         <h2 class="text-white font-bold">À Propos</h2>
        <ul class="text-white font-medium mt-10">
          <li>CGU</li>
          <li>Mentions légales</li>
          <li>Politique de confidentialité</li>

        </ul>
       </div>
       <div class="w-32">
        <h2 class="text-white font-bold">Plan du site</h2>
        <ul class="text-white font-medium mt-10">
          <li>CGU</li>
          <li>Mentions légales</li>
          <li>Politique de confidentialité</li>

        </ul>
      </div>
      <div class="w-32">
        <h2 class="text-white font-bold">Newsletter</h2>
        <ul class="text-white font-medium mt-10">
          <li>CGU</li>
          <li>Mentions légales</li>
          <li>Politique de confidentialité</li>

        </ul>
      </div>
      </div>
    </div>
  </div>
</footer>