{% load i18n %}
<nav class="flex flex-col justify-center bg-primary w-full z-50 top-0 sticky shadow-lg">
  <div class="container flex flex-row justify-between items-center px-8">
    <div class="flex flex-row items-center">
      <a href="/" class="mr-8">
				<img class="w-48  md:w-36" alt="Marketplace logo" src="../../static/assets/logo.png" />
			</a>
      <div class="hidden lg:block">
        <a href="" class="text-white text-sm hover:text-secondary font-bold">{% trans 'Home' %}</a>
        <a href="" class="text-white text-sm hover:text-secondary font-bold ml-4">{% trans 'Apprenticeship' %}</a>
        <a href="" class="text-white text-sm hover:text-secondary font-bold ml-4">{% trans 'APropos' %}</a>
        <a href="" class="text-white text-sm hover:text-secondary font-bold ml-4">{% trans 'Courses' %}</a>
      </div>
    </div>
    <div class="block lg:hidden cursor-pointer">
      <i class="fas fa-bars text-white text-2xl hover:text-secondary"></i>
    </div>
    <div class="hidden lg:block">
      <div class="flex flex-row items-center">
        <div>
          <a href="" class="text-white text-sm hover:text-secondary font-bold ml-4">{% trans 'Assistance' %}</a>
            <i class="fas fa-user-circle hover:text-secondary text-white text-2xl ml-4"></i>
        </div>

        <div class="flex pl-10">
          {% csrf_token %}
          <input name="next" id='nextInputFlag' type="hidden" value="{{ redirect_to }}">
          <div class="flag pr-2 cursor-pointer" v-on:click="alertT('fr')">🇫🇷</div>
          <div class="flag pr-2 cursor-pointer" v-on:click="alertT('en')">🇬🇧</div>
          <div class="flag cursor-pointer" v-on:click="alertT('cn')">🇨🇳</div>
        </div>

      </div>
    </div>
   
  </div>
</nav>

{% block vueJs %}
<script>
  const app = Vue.createApp({
    delimiters: ["[[", "]]"],
    data() {
      return { displayMenu: false }
    },
    methods: {
      alertT: function (lang) {
        

        const details = {
            language:lang,
            next:document.getElementById("nextInputFlag").value
        };
    
        let formBody = [];
        for (const property in details) {
          const encodedKey = encodeURIComponent(property);
          const encodedValue = encodeURIComponent(details[property]);
          formBody.push(encodedKey + "=" + encodedValue);
        }
        formBody = formBody.join("&");

        fetch('/i18n/setlang/', {
          body:formBody,
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8',
            "X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value
          },
        })
        
      },
    },
  }).mount("#app");
</script>
{% endblock %}