{% extends "base.html" %}


{% block content %}

<div class="w-full p-8 container" id="jobsList">
    <div
        class="flex flex-col lg:flex-row justify-center border-[1px] items-center border-gray-200 h-fit p-5 lg:p-0 lg:h-24 rounded-md lg:rounded-full w-full mt-20 space-x-5 space-y-5 lg:space-y-0">
        <div class="flex flex-row items-center space-x-5 h-full">
            <i class="fas fa-school text-primary"></i>
            <input type="text" placeholder="École recherché" class="border-none py-2 px-2 outline-none" />
        </div>
        <div class="flex flex-row items-center space-x-5 h-full">
            <i class="fas fa-map-marker-alt text-primary"></i>
            <input type="text" placeholder="Lieu" class="border-none py-2 px-2 outline-none" />
        </div>
        <div class="flex flex-row items-center space-x-5 h-full">
            <i class="fas fa-graduation-cap text-primary"></i>
            <input type="text" placeholder="Niveau d’étude" class="border-none py-2 px-2 outline-none" />
        </div>
        <button class="btn bg-secondary border-none rounded-full w-full lg:w-72 hover:bg-primary">Rechercher</button>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-5 gap-8 mt-20">
        <div class="h-screen overflow-scroll space-y-5 w-full lg:col-span-2">
            <!-- Single Job Post -->
            {% for course in courses %}

            <div @click="getCourseDetail" data-course-id="{{ course.id }}"
                class="bg-white shadow-md h-80 w-full flex flex-col justify-between gap-4 px-4 py-4 rounded-lg overflow-scroll border-[1px] border-gray-100">
                <h2 class="font-bold">{{course.name}}</h2>

                <p class="uppercase">{{course.school.name}}</p>

                <p class="uppercase">{{course.school.street}}, {{course.school.city}}</p>

                <p style="min-height: 50px;">
                    {% if not course.description %}
                    <i>Aucune description</i>
                    {% else %}
                    <i>
                        {{course.description|slice:'0:200'}}
                    </i>
                    {% endif %}
                </p>

                <div class="flex flex-row justify-between items-center">
                    <p>Formation postée le : <i>{{course.create_at|date:"d F, Y" }}</i></p>
                    <button
                        class="btn bg-primary w-48 block lg:hidden border-none hover:bg-secondary">Rejoindre</button>
                </div>
            </div>

            {% endfor %}
        </div>

        <div class="hidden lg:block lg:col-span-3 h-screen bg-white border-[2px] border-secondary rounded-lg p-10">
            <div class="flex flex-col justify-between h-full" v-if="!course">
                <div class="space-y-5">
                    <h2 class="text-2xl font-bold">{{courses.0.name}}</h2>
                    <p>{{courses.0.school.name}}</p>
                    <p>{{courses.0.school.street}}, {{courses.0.school.city}}</p>
                </div>

                <div class="space-y-4">
                    <h3 class="font-bold text-lg">Description</h3>
                    <p>
                        {% if not courses.0.description %}
                        <i>Aucune description</i>
                        {% else %}
                        <i>
                            {{courses.0.description|slice:'0:700'}}
                        </i>
                        {% endif %}
                    </p>
                </div>

                <div class="w-full flex flex-row justify-center">
                    <button class="btn bg-secondary hover:bg-primary w-48 border-none">Voir l'école</button>
                </div>
            </div>
            <div class="flex flex-col justify-between h-full" v-else>
                <div class="space-y-5">
                    <h2 class="text-2xl font-bold">[[ course.name ]]</h2>
                    <p>[[ course.school__name ]]</p>
                    <p>[[ course.school__street ]], [[ course.school_city ]]</p>
                </div>

                <div class="space-y-4">
                    <h3 class="font-bold text-lg">Description</h3>
                    <p>
                        [[ course.description ]]
                    </p>
                </div>

                <div class="w-full flex flex-row justify-center">
                    <button class="btn bg-secondary hover:bg-primary w-48 border-none">Voir l'école</button>
                </div>
            </div>
        </div>
    </div>
</div>


{% include './components/footer.html' %}

{% endblock %}

{% block vueJs %}
<script>
    const appJobsList = Vue.createApp({
        delimiters: ["[[", "]]"],
        data() {
            return {
                course: null,
                search: {
                    profession: '',
                    location: '',
                    contract_type: '',
                }
            }
        },

        created() {
            const uri = window.location.search.substring(1);
            const params = new URLSearchParams(uri);
            this.search.profession = params.get('profession') ? params.get('profession') : '';
            this.search.location = params.get('location') ? params.get('location') : '';
            this.search.contract_type = params.get('contract_type') ? params.get('contract_type') : '';
        },

        methods: {
            redirectToDetail(courseId) {
                window.location.href = `/courses/${courseId}`;
            },

            async getCourseDetail(e) {
                const courseId = e.currentTarget.dataset.courseId
                const isButtonTarget = e.target.classList.contains('btn')

                if (window.innerWidth < 1024 && isButtonTarget) {
                    location.href = `/courses/${courseId}`
                }
                const response = await
                fetch(`/courses/preview/${courseId}`, {
                    method: 'GET',
                    headers: {
                        "X-CSRFToken": getCookie("csrftoken"),
                    },
                });

                if (response.ok) {
                    const {
                        course
                    } = await response.json()

                    this.course = course
                }
            },

            searchCourse() {
                location.href =
                    `?profession=${this.search.profession}&location=${this.search.location}&contract_type=${this.search.contract_type}`

            }
        },

    }).mount('#jobsList')
</script>

<style>
    * {
        box-sizing: border-box;
        /* SCROLLBAR */
        scrollbar-width: thin;
        scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
    }

    /* SCROLLBAR */
    *::-webkit-scrollbar,
    *::-webkit-scrollbar-thumb {
        width: 10px;
        height: 10px;
        border-radius: 13px;
        background-clip: padding-box;
        border: 2px solid transparent;
        color: rgba(0, 0, 0, 0.3);
        background: transparent;
    }

    *::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 0 10px;
    }
</style>

{% endblock %}