{% load i18n %}
<div class="grid grid-cols-1 lg:grid-cols-2 place-items-center gap-10 lg:gap-20">
    
    <div class="grid grid-cols-1 lg:grid-cols-2 mt-10 gap-8 w-full">
      <div class="flex flex-col col-span-2 lg:col-span-1">
        <label for=""
          class="font-bold mb-2 hover after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm text-slate-700">{% trans 'Ville' %}:</label>
        <input type="text"
          class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1"
          placeholder="John" :class="{'border-red-500': errors.city.length}" @focus="errors.city=[]"
          v-model="profileForm.city" />
        <div v-if="errors.city.length">
          <span class="text-red-500 text-xs italic" v-for="error in errors.city" :key="error">
            [[ error ]]</span>
        </div>
      </div>
      <div class="flex flex-col col-span-2 lg:col-span-1">
        <label for=""
          class="font-bold mb-2 hover after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm text-slate-700">{% trans 'Code Postal' %}:</label>
        <input type="text"
          class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1"
          placeholder="Doe" :class="{'border-red-500': errors.zip_code.length}" @focus="errors.zip_code=[]"
          v-model="profileForm.zip_code" />
        <div v-if="errors.zip_code.length">
          <span class="text-red-500 text-xs italic" v-for="error in errors.zip_code" :key="error">
            [[ error ]]</span>
        </div>
      </div>
      <div class="flex flex-col col-span-2">
        <label for=""
          class="font-bold mb-2 hover after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm text-slate-700">{% trans 'Rue et numéro' %}:</label>
        <input type="street"
          class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1"
          placeholder="johndoe@xxxx.xx" :class="{'border-red-500': errors.street.length}" @focus="errors.street=[]"
          v-model="profileForm.street" />
        <div v-if="errors.street.length">
          <span class="text-red-500 text-xs italic" v-for="error in errors.street" :key="error">
            [[ error ]]</span>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 mt-10 gap-8 w-full">
  
      <div class="flex flex-col col-span-2">
        <label for="name"
          class="font-bold mb-2 hover  block text-sm text-slate-700">{% trans 'Nom de votre Entité' %}:</label>
        <input type="text"
          class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1"
          placeholder="johndoe@xxxx.xx" :class="{'border-red-500': errors.name.length}" @focus="errors.name=[]"
          v-model="profileForm.name" />
        <div v-if="errors.name.length">
          <span class="text-red-500 text-xs italic" v-for="error in errors.name" :key="error">
            [[ error ]]</span>
        </div>
      </div>
      
      <div class="flex items-center flex-col alig">
        <label for="name"
          class="font-bold mb-2 hover  block text-sm text-slate-700">{% trans 'Photo de votre Entité' %}:</label>
        <div v-on:click="updatePhotoEntity()" class="avatar flex items-end justify-end cursor-pointer ">
          <input type="file" accept="image/*" id="fileEntity" class="hidden"></input>
          <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
            <img id="pictureEntity" src="/auth/{{userType|lower}}/{{data.id}}/photo" onerror='this.onerror=false;this.src="/static/img/avatar.png"'></img>
          </div>
          <div class="w-[30px] absolute">
            <img src="/static/img/camera.svg"></img>
          </div>
        </div>
      </div>
  
    </div>
    
  </div>