{% load i18n %}
<footer>
  <div class="bg-primary w-full h-full p-5 lg:p-10 flex items-center">
    <div class="flex flex-col lg:flex-row justify-start items-center w-full px-10">
      <div>
        <img src="../../static/assets/logo.png" alt="" class="w-56">
      </div>

      <div class="grid grid-cols-1 lg:grid-cols-3 text-center lg:text-left gap-8 lg:gap-20 lg:ml-20 mt-10 lg:mt-0">
        <div class="w-full">
          <h2 class="text-white font-bold">{% trans 'APropos' %}</h2>
          <ul class="text-white font-medium mt-10">
            <li><a href="/cgu" class="hover:text-secondary">CGU</a></li>
            <li><a href="" class="hover:text-secondary">Mentions légales</a></li>
            <li><a href="" class="hover:text-secondary">Politique de confidentialité</a></li>
          </ul>
        </div>
        <div class="w-full">
          <h2 class="text-white font-bold">Plan du site</h2>
          <ul class="text-white font-medium mt-10">
            <li><a href="" class="hover:text-secondary">CGU</a></li>
            <li><a href="" class="hover:text-secondary">Mentions légales</a></li>
            <li><a href="" class="hover:text-secondary">Politique de confidentialité</a></li>
          </ul>
        </div>
        <div class="w-full">
          <h2 class="text-white font-bold">Newsletter</h2>
          <ul class="text-white font-medium mt-10">
            <li><a href="" class="hover:text-secondary">CGU</a></li>
            <li><a href="" class="hover:text-secondary">Mentions légales</a></li>
            <li><a href="" class="hover:text-secondary">Politique de confidentialité</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>