<div class="h-[700px] px-8 lg:px-16"
  style="background-image: url('../../static/assets/hero_bg.png'); background-repeat: no-repeat; background-size: cover;">
  <div class="h-full w-full flex flex-col items-center justify-center">
    <div class="text-center">
      <h1 class="text-white font-bold text-xl lg:text-3xl h-full">Une grande mobilisation des réseaux d'entreprises
        <br />en faveur de la jeunesse !</h1>
    </div>
    <div class="flex flex-col lg:flex-row items-center lg:justify-center mt-10 space-y-4 lg:space-y-0 lg:space-x-4">
      <a href="{% url 'authentication:signin' %}"
        class="text-white text-sm font-bold bg-secondary py-2 px-8 w-48 h-14 rounded-full hover:text-primary flex justify-center items-center cursor-pointer">Je
        suis étudiant</a>
      <a href="{% url 'authentication:signin' %}"
        class="text-white text-sm font-bold bg-secondary lg:bg-primary py-2 px-8 w-48 h-14 rounded-full hover:text-secondary flex justify-center items-center cursor-pointer">Je
        suis employeur</a>
    </div>
  </div>

</div>

<script>

</script>