<section>
  <div class="flex flex-col justify-center items-center">
    <h1 class="font-bold text-secondary text-xl lg:text-2xl">Nos Récentes Offres</h1>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-10 mt-20">
      <!-- Single JobPostCard -->
      <div class="bg-white shadow-lg w-80 h-[430px] rounded-xl overflow-hidden">
        <img src="https://images.pexels.com/photos/927451/pexels-photo-927451.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="h-48 w-full object-cover" alt="">
        <div class="px-4 mt-4">
          <h3 class="font-bold text-secondary">Développeur JAVA/J2EE H/F - POEI</h3>
          <div class="flex flex-row justify-between mt-4">
            <p class="uppercase">Talent RH</p>
            <p class="uppercase">44000 - Nantes</p>
          </div>
          <div class="mt-4">
            <p class="text-sm">Vos missions consisteront majoritairement à réaliser un travail d'intégration web et seront...</p>
          </div>
          <div class="text-center mt-4">
            <button class="bg-secondary text-white px-8 py-2 rounded-full hover:bg-primary hover:text-white font-bold">Postuler</button>
          </div>
        </div>
      </div>
      <!-- Single JobPostCard -->
      <div class="bg-white shadow-lg w-80 h-[430px] rounded-xl overflow-hidden">
        <img src="https://images.pexels.com/photos/927451/pexels-photo-927451.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="h-48 w-full object-cover" alt="">
        <div class="px-4 mt-4">
          <h3 class="font-bold text-secondary">Développeur JAVA/J2EE H/F - POEI</h3>
          <div class="flex flex-row justify-between mt-4">
            <p class="uppercase">Talent RH</p>
            <p class="uppercase">44000 - Nantes</p>
          </div>
          <div class="mt-4">
            <p class="text-sm">Vos missions consisteront majoritairement à réaliser un travail d'intégration web et seront...</p>
          </div>
          <div class="text-center mt-4">
            <button class="bg-secondary text-white px-8 py-2 rounded-full hover:bg-primary hover:text-white font-bold">Postuler</button>
          </div>
        </div>
      </div>
      <!-- Single JobPostCard -->
      <div class="bg-white shadow-lg w-80 h-[430px] rounded-xl overflow-hidden">
        <img src="https://images.pexels.com/photos/927451/pexels-photo-927451.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="h-48 w-full object-cover" alt="">
        <div class="px-4 mt-4">
          <h3 class="font-bold text-secondary">Développeur JAVA/J2EE H/F - POEI</h3>
          <div class="flex flex-row justify-between mt-4">
            <p class="uppercase">Talent RH</p>
            <p class="uppercase">44000 - Nantes</p>
          </div>
          <div class="mt-4">
            <p class="text-sm">Vos missions consisteront majoritairement à réaliser un travail d'intégration web et seront...</p>
          </div>
          <div class="text-center mt-4">
            <button class="bg-secondary text-white px-8 py-2 rounded-full hover:bg-primary hover:text-white font-bold">Postuler</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>