<section>
  <div class="flex flex-col justify-center items-center">
    <h1 class="font-bold text-secondary text-xl lg:text-2xl">Votre alternance en quelques cliques</h1>

    <div class="grid grid-cols-1 lg:grid-cols-3 place-items-center gap-10 lg:gap-20 mt-10">
      <div class="flex flex-col">
        <img src="../../../static/assets/first_step.png" alt="" class="w-72">
        <h1 class="font-bold text-secondary text-xl">Le job de vos rêves</h1>
        <div class="w-72 mt-4">
          <p class="font-medium text-sm">Renseignez le métier que vous souhaitez faire et la localisation (Ville ou Code postal).</p>
        </div>
      </div>
      <div class="flex flex-col">
        <img src="../../../static/assets/second_step.png" alt="" class="w-72">
        <h1 class="font-bold text-secondary text-xl">En un clin d’œil</h1>
        <div class="w-72 mt-4">
          <p class="font-medium text-sm">Obtenez la liste des formations et entreprises proches de chez vous dans le domaine recherché.</p>
        </div>
      </div>
      <div class="flex flex-col">
        <img src="../../../static/assets/third_step.png" alt="" class="w-72">
        <h1 class="font-bold text-secondary text-xl">Un contact facile</h1>
        <div class="w-72 mt-4">
          <p class="font-medium text-sm">Contactez facilement les centres de formation ou les entreprises pour postuler.</p>
        </div>
      </div>
    </div>
  </div>
</section>