{% extends "base.html" %}

{% load i18n %}

{% block content %}

<div class="flex justify-center my-12" id="jobInspect" style="min-height: 75vh">
    <div class=" w-full max-w-screen-lg flex-clumn">
        <h1 class="font-bold text-4xl mb-12">{% trans "Liste des candidatures pour" %}: <span class="font-normal">
                {{job.name}}
            </span>
        </h1>
        {% csrf_token %}
        <div class="overflow-x-auto">
            <table class="table w-full">
                <!-- head -->
                <thead>
                    <tr>
                        <th>{% trans "Candidat" %}</th>
                        <th>{% trans "Formation" %}</th>
                        <th>{% trans "Date de naissance" %}</th>
                        <th>{% trans "CV" %}</th>
                        <th>{% trans "Lettre de motivation" %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% if not job_datings %}
                    <tr>
                        <td colspan="4">{% trans "Vous n'avez pas encore reçu de candidature." %}</td>
                    </tr>
                    {% else %}
                    {% for job_dating in job_datings %}
                    <tr
                        class="hover {% if job_dating.status == 'AC' %} bg-green-200 {% elif job_dating.status == 'RE' %} bg-red-200 {% endif %}">
                        <th>
                            {{ job_dating.student.user.first_name }} {{ job_dating.student.user.last_name }}</th>
                        <td> {% if job.student.course.name %} {{job.student.course.name}} {% else %}
                            <i>{% trans "Aucune formation" %}</i>
                            {% endif %} </td>
                        <td>{% if condition %}{{ job_dating.stuent.birthday }} {% else %}
                            <i>{% trans "Non renseigné" %}</i>
                            {% endif %}
                        </td>
                        <td>
                            <a target="_blank" class="mx-3" href="/jobs/datings/{{job_dating.id}}/inspect-cv">
                                <i class="fas fa-download"></i>
                            </a>
                        </td>
                        <td>
                            <a target="_blank" class="mx-3" href="/jobs/datings/{{job_dating.id}}/inspect-letter">
                                <i class="fas fa-download"></i>
                            </a>
                        </td>
                        <td>
                            {% if job_dating.status != "RE" and job_dating.status != "AC" %}
                            <i class="fas fa-check mx-3 cursor-pointer" data @click="updateStatus($event, 'ACCEPTED')"
                                data-job-dating-id="{{job_dating.id}}"></i>
                            <i class="fas fa-times mx-3 cursor-pointer" @click="updateStatus($event, 'REJECTED')"
                                data-job-dating-id="{{job_dating.id}}"></i>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}

                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% include './components/footer.html' %}

{% endblock %}

{% block vueJs %}
<script>
    const appJobInspect = Vue.createApp({
        delimiters: ["[[", "]]"],
        methods: {

            //This function is used to update the status of a job dating.
            async updateStatus(event, status) {
                const jobDatingId = event.target.dataset.jobDatingId;

                const response = await fetch(`/jobs/datings/${jobDatingId}`, {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json',
                        "X-CSRFToken": getCookie("csrftoken"),
                    },
                    body: JSON.stringify({
                        status,
                    })
                });

                if (response.status === 200) {
                    location.reload();
                }
            }
        },
    }).mount('#jobInspect')
</script>

{% endblock %}