{% extends "base.html" %}


{% block content %}

<div class="w-full p-8 " id="jobsList">
    <div class="flex justify-center">
        <div class="my-8 w-3/4 flex rounded-l-full rounded-r-full border-solid border-2 p-2">
            <div class="flex basis-1/4 items-center border-r-2 px-4">
                <i class="fas fa-search mx-2 text-primary"></i>
                <input type="text">
            </div>
            <div class="flex basis-1/4 items-center border-r-2 px-4">
                <i class="fas fa-search mx-2 text-primary"></i>
                <input type="text">
            </div>
            <div class="flex basis-1/4 items-center px-4">
                <i class="fas fa-search mx-2 text-primary"></i>
                <input type="text">
            </div>
            <button class="rounded-full bg-primary text-white p-4 w-full">Rechercher</button>
        </div>
    </div>
    <div class="w-full flex">
        <div class="basis-1/3  h-[800px] overflow-auto cursor-pointer">
            {% for job in jobs %}
            <div class="bg-white shadow-lg h-[300px] rounded-xl overflow-hidden m-2 p-4 flex flex-col"
                data-job-id="{{ job.id }}" @click="getJobDetail">
                <h1 class="font-bold text-secondary">{{ job.name }}</h1>
                <p class="uppercase mt-3">{{ job.company }}</p>
                <p class="uppercase mt-3">
                    {% if job.location %}
                    {{job.location}}</p>
                {% else %}
                44000 Nantes
                {% endif %}
                <p class="italic mt-3">{{ job.description |slice:"0:250" }} ...</p>
            </div>
            {% endfor %}
        </div>
        <div class="basis-2/3">
            <div class="bg-white shadow-lg rounded-xl m-2 p-4 flex flex-col w-full border-solid border-black border-2"
                v-if="!job">
                <h1 class="font-bold text-secondary">{{ jobs.0.name }}</h1>
                <p class="uppercase mt-3">{{ jobs.0.company }}</p>
                <p class="uppercase mt-3">
                    {% if jobs.0.location %}
                    {{jobs.0.location}}</p>
                {% else %}
                44000 Nantes
                {% endif %}
                <p class="italic my-3">{{ jobs.0.description }}</p>
                <button href="/jobs/{{ jobs.0.id }}"
                    class="bg-secondary rounded-xl text-white p-4 w-full mt-auto uppercase mt-12">postuler</button>
            </div>
            <div class="bg-white shadow-lg rounded-xl m-2 p-4 flex flex-col w-full border-solid border-black border-2"
                v-else>
                <h1 class="font-bold text-secondary">[[ job.name ]]</h1>
                <p class="uppercase mt-3">[[ job.company ]]</p>
                <p class="uppercase mt-3">
                    44000 Nantes
                </p>
                <p class="italic my-3">[[ job.description ]]</p>
                <button href="/jobs/[[ job.id ]]"
                    class="bg-secondary rounded-xl text-white p-4 w-full mt-auto uppercase mt-12">postuler</button>
            </div>
        </div>
    </div>
</div>


{% include './components/footer.html' %}

{% endblock %}

{% block vueJs %}
<script>
    const appJobsList = Vue.createApp({
        delimiters: ["[[", "]]"],
        data() {
            return {
                title: 'Hello Vue!',
                job: null,
            }
        },
        methods: {
            async getJobDetail(e) {
                const jobId = e.currentTarget.dataset.jobId

                const response = await fetch(`/jobs/${jobId}`, {
                    method: 'GET',
                    headers: {
                        "X-CSRFToken": getCookie("csrftoken"),
                    },
                })

                if (response.ok) {
                    const {
                        job
                    } = await response.json()

                    this.job = job
                }
            }
        },
    }).mount('#jobsList')
</script>

<style>
    * {
        box-sizing: border-box;
        /* SCROLLBAR */
        scrollbar-width: thin;
        scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
    }

    /* SCROLLBAR */
    *::-webkit-scrollbar,
    *::-webkit-scrollbar-thumb {
        width: 10px;
        height: 10px;
        border-radius: 13px;
        background-clip: padding-box;
        border: 2px solid transparent;
        color: rgba(0, 0, 0, 0.3);
        background: transparent;
    }

    *::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 0 10px;
    }
</style>

{% endblock %}