{% extends "base.html" %}

{% load i18n %}

{% block content %}


<div id="createjob" class="w-full flex-col items-center px-8 lg:px-16 mb-20">
  <div class="container mt-20">
    <h1 class="font-bold text-2xl">{% trans "Mettre à jour votre offre" %}</h1>

    <div class="lg:grid lg:grid-cols-4 mt-20 lg:gap-8 lg:space-y-0 space-y-8">
      <div class="flex flex-col col-span-4">
        <label for="" class="font-bold mb-2 hover  block text-sm text-slate-700">{% trans "Titre" %}:</label>
        <input type="text" v-model="form.job_name" :class="{'border-red-500': errors.job_name.length}"
          @focus="errors.job_name=[]"
          class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1"
          placeholder="johndoe@xxxx.xx" />
        <div v-if="errors.job_name.length">
          <span class="text-red-500 text-xs italic" v-for="error in errors.job_name" :key="error">
            [[ error ]]</span>
        </div>
      </div>
      <div class="flex flex-col">
        <label for="" class="font-bold mb-2 hover  block text-sm text-slate-700">{% trans "Début du contrat" %}:</label>
        <input type="date" v-model="form.start_date" :class="{'border-red-500': errors.start_date.length}"
          @focus="errors.start_date=[]"
          class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" />
        <div v-if="errors.start_date.length">
          <span class="text-red-500 text-xs italic" v-for="error in errors.start_date" :key="error">
            [[ error ]]</span>
        </div>
      </div>
      <div class="flex flex-col">
        <label for="" class="font-bold mb-2 hover  block text-sm text-slate-700">{% trans "Salaire proposé" %}:</label>
        <input type="number" min="0" v-model="form.wage" :class="{'border-red-500': errors.wage.length}"
          @focus="errors.wage=[]" step="any"
          class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" />
        <div v-if="errors.wage.length">
          <span class="text-red-500 text-xs italic" v-for="error in errors.wage" :key="error">
            [[ error ]]</span>
        </div>
      </div>
      <div class="flex flex-col">
        <label for="" class="font-bold mb-2 hover  block text-sm text-slate-700">{% trans "Type de contrat" %}:</label>

        <select name="" id="" v-model="form.contract_type" :class="{'border-red-500': errors.contract_type.length}"
          @focus="errors.contract_type=[]"
          class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1">
          <option disabled>{% trans "Veuillez sélectionner un type de contrat" %}</option>
          <option value="cdi">{% trans "CDI" %}</option>
          <option value="cdd">{% trans "CDD" %}</option>
          <option value="alternance">{% trans "Alternance" %}</option>
        </select>
        <div v-if="errors.contract_type.length">
          <span class="text-red-500 text-xs italic" v-for="error in errors.contract_type" :key="error">
            [[ error ]]</span>
        </div>
      </div>
      <div class="flex flex-col">
        <label for="" class="font-bold mb-2 hover  block text-sm text-slate-700">{% trans "Nombre d'heure" %}:</label>
        <input type="number" min="0" v-model="form.schedule" :class="{'border-red-500': errors.schedule.length}"
          @focus="errors.schedule=[]"
          class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" />
        <div v-if="errors.schedule.length">
          <span class="text-red-500 text-xs italic" v-for="error in errors.schedule" :key="error">
            [[ error ]]</span>
        </div>
      </div>
      <div class="flex flex-col col-span-4">
        <label for="" class="font-bold mb-2 hover  block text-sm text-slate-700">{% trans "Description" %}:</label>
        <textarea minlength="100" v-model="form.description" :class="{'border-red-500': errors.description.length}"
          @focus="errors.description=[]"
          class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1"></textarea>
        <small class="self-end">{% trans "Au moins 100 caractères sont attendus" %}</small>
        <div v-if="errors.description.length">
          <span class="text-red-500 text-xs italic" v-for="error in errors.description" :key="error">
            [[ error ]]</span>
        </div>
      </div>
    </div>
    <div class="flex flex-row lg:justify-end justify-center mt-10">
      <button v-on:click="handleFormSubmit()"
        class="btn bg-secondary hover:bg-primary border-none w-56">{% trans "Modifier" %}</button>
    </div>

    <div class="mt-20 flex flex-col lg:flex-row justify-center items-center lg:space-y-0 space-y-4 lg:space-x-8">
      <div class="avatar">
        <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
          <img src="/auth/company/{{company.id}}/photo"
            onerror='this.onerror=false;this.src="/static/img/avatar.png"' />
        </div>
      </div>
      <span class="font-bold">{{company.name}}</span>
    </div>
  </div>
</div>


{% include './components/footer.html' %}

{% endblock %}


{% block vueJs %}
<script>
  const createJob = Vue.createApp({
    delimiters: ["[[", "]]"],
    data() {
      return {
        form: {
          job_name: "{{job.name}}",
          start_date: "{{job.start_date|date:'Y-m-d'}}",
          wage: parseFloat("{{job.wage}}"),
          contract_type: "{{job.contract_type}}",
          schedule: "{{job.schedule}}",
          description: "{{job.description}}",
          company_id: "{{company.id}}",
        },
        errors: {
          job_name: [],
          start_date: [],
          wage: [],
          contract_type: [],
          schedule: [],
          description: [],
          company_id: []
        }
      }
    },
    methods: {

      //This function reset the errors form.
      resetError() {
        this.errors = {
          job_name: [],
          start_date: [],
          wage: [],
          contract_type: [],
          schedule: [],
          description: [],
          company_id: []
        }
      },
            
      //This function check if the form is valid and display the errors for each field in the form.
      async handleFormChange() {
        return new Promise((resolve, reject) => {
          this.resetError()
          if (!this.form.job_name) {
            this.errors.job_name.push('Veuillez entrer un titre')
          }
          if (!this.form.start_date) {
            this.errors.start_date.push('Veuillez entrer une date de début')
          }
          if (!this.form.wage) {
            this.errors.wage.push('Veuillez proposer un salaire')
          }
          if (!this.form.contract_type) {
            this.errors.contract_type.push('Veuillez choisir un type de contrat')
          }
          if (!this.form.schedule) {
            this.errors.schedule.push("Veuillez entrer un nombre d'heure")
          }
          if (!this.form.description) {
            this.errors.description.push("Veuillez entrer une description")
          }

          if (Object.entries(this.errors).some(([key, val]) => val.length > 0)) {
            resolve(false);
          } else {
            resolve(true);
          }
        })
      },

      //This function send the form to the server to update the job.
      async handleFormSubmit() {
        if (await this.handleFormChange()) {
          data = {
            name: this.form.job_name,
            description: this.form.description,
            wage: this.form.wage,
            contract_type: this.form.contract_type,
            start_date: this.form.start_date,
            schedule: this.form.schedule,
            company_id: this.form.company_id

          }

          fetch(`/jobs/update/{{job.id}}/`, {
            method: 'PUT',
            headers: {
              "X-CSRFToken": getCookie("csrftoken"),
            },
            body: JSON.stringify(data)
          }).then((res) => {
            return res.json()
          }).then(json => {
            if (json.status === 'success') {
              Toastify({
                text: "Votre offre a bien été modifiée",
                duration: 3000
              }).showToast();
            }
          })
        }

      }
    }
  }).mount('#createjob')
</script>
{% endblock %}