{% extends "base.html" %}


{% block content %}

<div class="my-16 flex w-full">
    <div class="mx-auto max-w-screen-lg">
        <h2 class="font-bold text-secondary text-xl lg:text-2xl mb-6"> MENTIONS LÉGALES</h2>

        Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique,
        il est
        précisé aux utilisateurs du site 1alternant 1solution l'identité des différents intervenants dans le cadre de sa
        réalisation et de son suivi.
        <br>
        <br>
        <strong>
            Edition du site
        </strong>

        Le présent site, accessible à l’URL https://un-alternant-une-solution.herokuapp.com/ (le « Site »), est édité
        par :

        ynov ynov, résidant 2 rue de l'échappée 75010 PARIS, de nationalité Française (France), né(e) le 22/01/2000,
        <br>
        <br>
        <strong>

            Hébergement
        </strong>

        Le Site est hébergé par la société heroku, situé 2 rue de l'échappée 75010 PARIS., (contact téléphonique ou
        email :
        +33845126584).
        <br>
        <br>
        <strong>
            Directeur de publication
        </strong>

        Le Directeur de la publication du Site est ynov ynov.
        <br>
        <br>
        <strong>
            Nous contacter
        </strong>

        Par téléphone : +33782876578
        Par email : rgege@gmail.com
        Par courrier : 2 rue de l'échappée 75010 PARIS

    </div>
</div>


{% include './components/footer.html' %}

{% endblock %}